- page_title _('Contribution Analytics')

%h3= _('Contribution Analytics')

= gl_tabs_nav(class: 'gl-mb-3', 'data-testid': 'contribution-analytics-date-nav') do
  - date_range_nav.each do |range|
    = gl_tab_link_to group_contribution_analytics_path(start_date: range[:date]), item_active: @start_date == range[:date] do
      = range[:label]
%p= s_('ContributionAnalytics|Contribution analytics for issues, merge requests and push events since %{start_date}') % { start_date: @start_date }

#js-contribution-analytics{
  data: {
    analytics_data: @data_collector.group_member_contributions_table_data.to_json.html_safe,
    total_push_count: @data_collector.total_push_count,
    total_commit_count: @data_collector.total_commit_count,
    total_push_author_count: @data_collector.total_push_author_count,
    total_merge_requests_closed_count: @data_collector.total_merge_requests_closed_count,
    total_merge_requests_created_count: @data_collector.total_merge_requests_created_count,
    total_merge_requests_merged_count: @data_collector.total_merge_requests_merged_count,
    total_issues_created_count: @data_collector.total_issues_created_count,
    total_issues_closed_count: @data_collector.total_issues_closed_count,
    member_contributions_path: group_contribution_analytics_path(@group, { start_date: @start_date, format: :json })
  }
}
